@model List<Lab.Net.MVC.Models.EmployeesView>

@{
    ViewBag.Title = "Employees Page";
}
<h1>Lista de Empleados</h1>
<hr />
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Primer Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col" class='text-sm-center'>Eliminar</th>
            <th scope="col" class='text-sm-left'>Editar</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

    @foreach (var empleado in Model)
    {
        <tr>
            <th scope="row">@empleado.Id</th>
            <td>@empleado.FirstName</td>
            <td>@empleado.LastName</td>
            <td class='text-sm-center'><a href='@Url.Action("Delete", "Employees", new { id = empleado.Id })' onclick='return confirm("¿Está seguro de eliminar?")'><i class='fa fa-trash text-danger'></i></a></td>
            <td class='text-sm-start'><a href='@Url.Action("Update", "Employees", new { id = empleado.Id })' onclick='return confirm("¿Está seguro de editar?")'><i class='fa fa-cog'></i></a></td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Insertar Nuevo Empleado", "Insert", "Employees", new { @class = "btn btn-primary" })
</div>


